body {
  background-color: #d5e1ef;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  width: 280px;
  text-align: center;
}

.card img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

h1 {
  font-size: 18px;
}

p {
  font-size: 14px;
  color: gray;
}